[Desktop Entry]
Name=Distribuidora
Comment=Mendoza
Exec=/opt/distri/scripts/desktop.sh
Icon=/opt/distri/scripts/desktop/pig.ico
Terminal=false
Type=Application
Categories=Utility
